h1{
  color: #F2CC8C;
}

.header{
  background-color: #EFC958;
}
.h{
  position: fixed;
  margin-top: 0.7%;
  margin-left: 36%
}

.button {
     display: inline-block;
     background-color: #1d6355;
     border-radius: 10px;
     border: 4px double #cccccc;
     color: #ffffff;
     text-align: center;
     font-size: 20px;
     padding: 8px;
     width: 100px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 5px;
   }
.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}

.arquivos{
  width: 200%;
  height: 60px;
  background-color: #EFC958;
  align-content: center;
  position: absolute;
}
.header{
  background-color: #EFC958;
}
a{
  text-decoration: none;
  color: #EFC958;
  position: absolute;

}
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: white;
}
/* mouse over link */

/* selected link */
a:active {
  color: #800000;
}

a:hover{
  color: black;
}
ion-icon{
  margin-top: -0.3%;
  margin-left: 1.7%
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
